{% load static %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <title>Github User Finder</title>

</head>

<body>
    <nav class="navbar navbar-dark bg-info mb-3">
        <div class="container">
            
            <a href="/" class = "navbar-brand">Github User Finder</a>
        </div>
    </nav>

    {% if messages %}
        <div class="row justify-content-center align-items-center">
    {% for message in messages %}

        {% if message.tags in 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>

        {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endif %}

    {% endfor %}
        </div>
{% endif %}

    <div class="container searchContainer">
        <div class="search card card-body">
            <h3>Github Kullanıcılarını Arayın</h3>
            <p class="lead">
                Bir kullanıcı adı girin ve bilgilerini listeleyin.
            </p>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <input type="text" name="githubname" class = "form-control" placeholder="Github Kullanıcı Adı">
                <br>
                <button type = "submit" class ="btn btn-info">Ara</button>
            </form>
        </div>
        <br>
        {% if profile %}
            <div id="profile">

            <div class="card card-body mb-3">
                    <div class="row">
                      <div class="col-md-3">
                        <img class="img-fluid mb-2" src="{{ profile.avatar_url }}">
                        <a href="{{ profile.html_url }}" target="_blank" class="btn btn-info btn-block mb-4">Profili Görüntüle</a>
                      </div>
                      <div class="col-md-9">
                        <span class="badge badge-primary">Repo Sayısı:  {{ profile.public_repos }}</span>
                        <span class="badge badge-secondary">Gist Sayısı:  {{ profile.public_gists }}</span>
                        <span class="badge badge-success">Takipçi: {{ profile.followers }}</span>
                        <span class="badge badge-info">Takip Edilen: {{ profile.following }}</span>
                        <br><br>
                        <ul class="list-group">
                          <li class="list-group-item">Şirket: {{ profile.company }}</li>
                          <li class="list-group-item">Website/Blog: <a target="_blank" href="{{ profile.blog }}" >{{ profile.blog }}</a></li>
                          <li class="list-group-item">Şehir: {{ profile.location }}</li>
                          <li class="list-group-item">Üyelik Tarihi: {{ profile.created_at }}</li>
                          <li class="list-group-item">Son Güncelleme Tarihi: {{ profile.updated_at }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <h3 class="page-heading mb-3">En son repolar</h3>
                 {% if repos %}
                     <div id="repos" style ="margin-bottom: 100px;">
                        {% for repo in repos %}
                        <div class="card card-body mb-2">
                                <div class="row">
                                  <div class="col-md-3">
                                    <span>{{ repo.name }}</span>
                                  </div>
                                 <div class="col-md-3">
                                     <a href="{{ profile.html_url }}" target = "_blank" class = "btn btn-info"> Repoya Git</a>
                                 </div>
                                  <div class="col-md-6">
                                  <span class="badge badge-primary">Yıldızlar: {{ repo.stargazers_count }}</span>
                                  <span class="badge badge-secondary">Watchers: {{ repo.watchers_count }}</span>
                                  <span class="badge badge-success">Forks: {{ repo.forks_count }}</span>
                                  <span class="badge badge-info">Programlama Dili: {{ repo.language }}</span>
                                  </div>
                                </div>
                        </div>

                        {% endfor %}
                  </div>

                 {% endif %}


        </div>
        {% endif %}

       
    </div>

<script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>